header {
}

.slider {
    background: #b5c3c561;
    position: relative;
    height: 600px;
}

.slider > .desktop-card-grid {
    display: flex;
    position: absolute;
    bottom: -100px;
    justify-content: space-around;
    width: 100%;
}

.slider button{
    top: 30%;
}
